{
	"parser": "@typescript-eslint/parser",
	"extends": ["plugin:@typescript-eslint/recommended", "plugin:prettier/recommended", "prettier"],
	"plugins": ["@typescript-eslint", "prettier"],
	"parserOptions": {
		"ecmaVersion": 2018,
		"sourceType": "module"
	},
	"env": {
		"browser": true,
		"node": true
	},
	"rules": {
		"quotes": "off",
		"@typescript-eslint/quotes": [
			0,
			"single",
			{
				"avoidEscape": true
			}
		],
		"@typescript-eslint/explicit-module-boundary-types": "off",
		"indent": "off",
		"prettier/prettier": [
			"error",
			{
				"semi": true,
				"trailingComma": "all",
				"printWidth": 100,
				"tabWidth": 4,
				"useTabs": true,
				"bracketSpacing": true,
				"singleQuote": true,
				"jsxSingleQuote": true
			}
		]
	}
}
